body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(to right,rgb(88, 48, 233), rgb(11, 243, 11));
    padding: 0;
    margin: 0;
    padding-bottom: 100px;
}

header{
    text-align: center;
}
.active{
    background-color: rgb(40, 8, 156);
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(165, 163, 163);

}
li{
    float:left;

}
li a{
    display: block;
    color: white;
    text-align: center;
    padding:15px;
    text-decoration: none;
}
li a:hover:not(.activate){
    background-color:rgb(46, 45, 45) ;
}

h1{
    background-color: black;
    padding: 10px;
    margin:0;
    color:rgb(40, 8, 156);
}
footer{
    background-color: #333;
    color:white;
    padding: 15px;
    margin:0;
    text-align: center;
    position:fixed;
    bottom: 0;
    width: 100%;
    
}
.parrafo{
    text-align:center;
    font-size: 15px;
}
